.bg-orange {
    background: #FE7A00 !important;
}


.btn-orange{
    background: #FE7A00 !important;
    color:white;
    outline: #FE7A00 !important ;

}

.bg-orange:focus{
    outline: #FE7A00 !important ;
}

.bg-dark{
    background:#222D32 !important ;
}

.bg-dark{
    background:#222D32 !important ;
    color:white;
    outline:#222D32 !important ;
}
.bg-dark:focus{
    background:#222D32 !important ;
}
